:root {
    --bg-page: #f0ebd8;
    --bg-navbar: #1d2d44;
    --bg-content: #e0e1dd;
    --color-secondary: #748cab;

    --text-main: #0d1321;
    --text-subtle: #4c4c4c;
    --text-secondary: #4e4e63;
    --text-navbar: #f0ebd8;

    --border-color: #f0ebd8;
}

[data-theme="dark"] {
    --bg-page: #1d2d44;
    --bg-navbar: #14213d;
    --bg-content: #14213d;
    --color-secondary: #748cab;

    --text-main: #f0ebd8;
    --text-subtle: #999;
    --text-secondary: #aba48e;
    --text-navbar: #f0ebd8;

    --border-color: #f0ebd8;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-page);
    color: var(--text-main);
    font-family: "Inter Variable", sans-serif;
    margin: 0;
    min-height: 100vh;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

main {
    flex: 1;
}

li {
    margin: 0.3rem 0rem;
    line-height: 1.4;
}

a {
    color: inherit;
    font-weight: 600;
    font-style: italic;
}

.card {
    font-style: normal;
}

article section {
    margin-left: 0;
    padding-left: 0;
}

article section > section {
    margin-left: 1.2rem;
}

article img {
    max-width: 100%;
    border-radius: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
